#p1 {
    background-color: hsla(120, 75%, 50%, 0.2);
}
#p2 {
    background-color: hsla(120, 75%, 50%, 0.4);
}
#p3 {
    background-color: hsla(1.2e2, 75%, 50%, 0.6);
}
#p4 {
    background-color: hsla(120, 75%, 50%, 0.8);
}
#p5 {
    background-color: hsla(120, 75%, 50%, 1);
}
#p6 {
    background-color: hsl(240, 75%, 50%);
}
#p7 {
    background-color: hsl(600, 75%, 50%);
}
#p8 {
    background-color: hsl(9.6e2, 75%, 50%);
}
#p9 {
    background-color: hsl(600, 75%, 50%);
}
#p10 {
    background-color: hsl(240, 75%, 50%);
}
