.abs {
  width:  50px;
  height:  50px;
  position:  absolute;
  background:  purple;
}
.container {
  border:  solid;
  position:  relative;
  height:  100px;
  display:  inline-block;
  margin-right:  5px;
  width:  100px;
}
.top {
  top:  0;
}
.grid {
  justify-items:  center;
  width:  100%;
  height:  100%;
  display:  grid;
  align-items:  center;
}
.left {
  left:  0;
}
.center-inline {
  left:  25px;
}
.flex {
  height:  100%;
  display:  flex;
  width:  100%;
  align-items:  center;
}
.center-block {
  top:  25px;
}